html, body{
	margin:0 auto;
	padding:0;
	width:100%;
	height:100%;
	overflow:hidden;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #272729;
	color: #ffffff;
	touch-action: manipulation;
	user-select: none;
}

#container{
	width: 600px;
	margin: 0;
	display: flex;
	flex-direction: column;
	transform-origin: top left;
	will-change: transform;
}

.logo{
	text-align: center;
	margin-top: 12px;
	cursor:pointer;
	text-shadow: 2px 3px 2px #000;
	transition:.5s
}

.logo:hover{
	filter: brightness(1.125);
}

.logo_green, .logo_gold{
	font-size: 44px;
	color: #fff;
	width: 52px;
	height: 60px;
	border-radius: 12px;
	margin: 3px;
	display: inline-block;
}

.logo_gold{
	background-color: #d7bf4a;
}

.logo_green{
	background-color: #35a535;
}

#dialog {
	background-color: #ffffffd4;
	border: 0;
	padding: 0;
	position: absolute;
	top: 150px;
	left: calc((vw - 260px)/2);
	user-select: none;
	margin-top: 100;
	margin-bottom: auto;
}

#giveUpBtn, #solveBtn, #restartBtn {
	padding: 3px 6px;
	margin: 10px;
	font-size: 26px;
	cursor: pointer;
	background-color: #005ed4;
	color: white;
	width: 240px;
	height: 49px;
	outline: none;
	display: block;
}

.game_area{
	margin-top: 5px;
}

.row, .row_block{
	display: flex;
	justify-content: center;
	margin: 5px;
}

.row_block{
	font-size: 55px;
	border: 1px solid;
	width: 70px;
	height: 60px;
	border-radius: 14px;
}

#notification{
	font-family: arial;
	text-align: center;
	letter-spacing: 1px;
	font-size: 24px;
	margin: 1px 0 3px 0;
	height: 36px;
}

#keyboard{
	text-align:center;
	margin-top: 5px;
}

#topKeys, #midKeys, #botKeys{
	display: flex;
	justify-content:center;
}

.keyboardKey_s, .keyboardKey_m, .keyboardKey_l{
	background-color: #818384;
	font-size: 30px;
	height: 39px;
	padding: 9px 0;
	margin: 2.5px;
	display: flex;
	justify-content: center;
	font-family: arial;
	cursor: pointer;
	text-transform: uppercase;
}

.keyboardKey_s{
	width: 52px;
}

.keyboardKey_m{
	width: 58px;
}

.keyboardKey_l{
	width: 81px;
}

.keyboardKey_Enter {
	font-size: 19px;
	padding: 15px 0 3px 0;
}

.keyboardKey_Delete {
	padding: 5px 0 0 0;
	height: 52px;
}

.correct{
	background-color: #35a535;
	color:#fff;
}

.absent{
	background-color: #737373;
	color:#fff;
}

.present{
	background-color: #d7bf4a;
	color:#fff;
}
